@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
}

.vertical-text {
  writing-mode: vertical-lr;
}

.vertical-text2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

#miIframe {
  overflow: hidden;
}
